/* Reset some default styling */
body, h1, h2, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-image: url("4331C53E-5273-4821-ACE0-8DA09FBDD768_1_105_c.jpeg");
    background-attachment: fixed;
    background-opacity: 0.6;
    color: black;
    line-height: 1.6;
}
