button, p, tr, input {
    margin:15px;
    display: flex;
    align-content: row;
    justify-content: space-evenly;
    
}
td, th {
border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;}
tr:nth-child(even) {
  background-color: #dddddd;
}
td{
  table-layout: fixed;
}
button{
  justify-content: center;
}